
@{
    ViewBag.Title = "NewRole";
    Layout = "~/Views/Shared/_AdminSharedView.cshtml";
}

    <div class="col-md-11" style="margin-left:2%">
        <div class="col-md-4">
            <strong>Users</strong><span>Add New Role</span>

        </div>
        <div class="col-md-12">
            <hr style="border:solid 0.1px white" />
        </div>
            <form class="form">
                <div class="form-row col-md-6">
                    <div class="form-group col-md-12">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name..." name="name" required>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="txtarea">Description</label>
                    <textarea cols="60" rows="3" id="txtarea" name="txtarea" placeholder="Comments" class="form-control"></textarea>
                </div>
                <div class="br-right-30">
                    <hr style="border:solid 0.1px white" />
                    <button type="submit" class="btn btn-primary mt-3">Save</button>
                    <button type="submit" class="btn btn-danger mt-3">Reset</button>
                </div>
            </form>
        </div>
