@model Point_of_sale_system.Models.Sale

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>POS</title>

</head>
<body>

</body>
</html>
